.settings-menu-close {
	position: absolute;
	top: 5px;
	left: 7px;
	cursor: pointer;
}

.settings-menu-title {
	margin-top: 10px;
	width: 100%;
}

.settings-menu-title p {
	margin: 0;
	margin-left: 90px;
	font-family: "Play", sans-serif;
	color: #9b2bad;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	font-size: 24px;
	vertical-align: middle;
}

.settings-menu-content {
	margin: 10px 20px 0px 20px;
	background-color: #e3e3e3;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.settings-menu-content::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
	margin: 0;
}

.settings-menu-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(158, 158, 158);
}

/* [START] switch */
.switch {
	--height: 20px;

	background-color: #ccc;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 45px;
	height: var(--height);
	border-radius: var(--height);
	padding: 3px;
	cursor: pointer;
	transition: all 700ms;
}

.switch.on {
	background-color: #9b2bad;
}

.spacer {
	flex: 0;
	transition-duration: 0.2s;
}

.spacer.on {
	flex: 1;
	transition-duration: 0.2s;
}

.slider {
	--width: 20px;

	background-color: white;
	height: auto;
	width: var(--width);
	border-radius: var(--width);
}
/* [END] switch */

.settings-menu-toggleable {
	display: flex;
	align-items: center;
	width: 95%;
}

.settings-menu-toggleable p {
	color: black;
	margin-left: 20px;
	font-family: "Play", sans-serif;
	flex: 1;
}

.settings-menu-button {
	transition-duration: 0.2s;
	outline: none;
	border: #9b2bad solid 3px;
	font-family: "Play", sans-serif;
	color: #9b2bad;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background: transparent;
	margin: 5px 0;
	padding: 8px;
	font-size: 13px;
	cursor: pointer;
}

.settings-menu-button:hover {
	transition-duration: 0.4s;
	background-color: #bc52cc;
	color: rgb(32, 32, 32);
	text-shadow: none;
}
